

body {
	width: 100%;
	font-size: 1em;
}


#logo {
	width: 30%;
}

.title {
font-size: 3em;
width: 1400px;
}

#btn {
	font-size: 0.8em;
}

/* Research */

input {
	width: 500px;
	height: 30px;
	font-size: 1em;
}

/* Research Results or Poch'List */


#bookTable {
	font-size: 1em;
}

td {
	width: 1400px;
}